<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" class="Logo">
    <div class="Logo">
      <ion-img src="../../../assets/icon/Recicanje Tienda.png" alt="Recicanje Tienda"></ion-img>
    </div>
  </ion-header>
  <div class="Money">
    <ion-img src="../../../assets/icon/Money.png"></ion-img>
    <h1>9999</h1>
  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let itemShop of itemsShop" size="6" size-md="6">
          <app-item-shop 
            [itemShop]="itemShop">
          </app-item-shop>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
