<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">shop</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let itemShop of itemsShop" size="6" size-md="6">
          <app-item-shop 
            [itemShop]="itemShop">
          </app-item-shop>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
