.nobg-btn{
  margin: 20px 0 0 20px;
  --background: rgba(0, 0, 0, 0);
}

.app-home-btn, div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #cam-btn{
    width: 7rem;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0); 
  }
  