<ion-header [translucent]="false" >
  <ion-button (click)="navToProfile()" class="nobg-btn" fill="solid">
        <ion-avatar >
          <img alt="User" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label class="LabelAvatar">Usuario</ion-label>    
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="app-home-btn">
    <app-home-btn 
    *ngFor="let homeBtn of homeBtns" [homeBtn]="homeBtn">

    </app-home-btn>
  </div>
  <ion-button (click)="navToScan()" class="nobg-btn" id="cam-btn" slot="fixed" >
    <ion-img 
    src="../../../assets/icon/RecicanjeCam.png">
  </ion-img>
  </ion-button>
</ion-content>
