<ion-content [fullscreen]="true">

  <div class="center">
    <ion-img  src="../../../assets/icon/Recicanje_User.png" alt="Foto"></ion-img>
  </div>

  <div class="Fondo">
    <div class="center">
      <ion-label>TIPO DE RESIDUO</ion-label>
        <ion-item>
          <ion-select justify="space-between" placeholder="Tipo" interface="popover" class="ListTipo" mode="md">
            <ion-select-option value="Plastico">Plastico</ion-select-option>
            <ion-select-option value="Vidrio">Vidrio</ion-select-option>
            <ion-select-option value="Papel">Papel</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-label>¿QUE RESIDUO ES?</ion-label>
      <ion-input [(ngModel)]="ResName"></ion-input>
    </div>
  </div>  

  <div class="center">
    <ion-button>
      GUARDAR
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <div class="center">
    <ion-button class="Volver">
      VOLVER
    </ion-button>
  </div>
</ion-footer>
