ion-content{
  --background: #f5f5dc
}
.r-volver{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.volver{
  margin: 1rem 0 0 0;
  padding: 1rem 0 0 0;
  color: #000;
}
.shop-logo{
  height: 5rem;
  margin: 0 auto;
  padding: 1rem 0 0 0 ;
  display: block;
}
.r-content{
  margin: 1.3rem 0 0 0 ;
  padding: 0.7rem 0;
}
.c-content{
  display: flex; 
  justify-content: center;  
}
.c-card{
  padding: 1rem 3rem; 
  margin: 0 auto; 
  background-color: #e4c99d;
  border-radius: 1rem;
}
ion-button[slot='fixed'] {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
}