<ion-content [fullscreen]="true">
      <!-- Logo Recicanje --> 
        <div class="center">
        <ion-img  src="../../../assets/icon/Recicanje.png" alt="Logo Recicanje"></ion-img>
        </div>
      <!-- Input Email -->
      
        <ion-input placeholder="EMAIL"></ion-input>
      
      <!-- Input Contraseña -->
      
        <ion-input placeholder="CONTRASEÑA"></ion-input>
      <!-- Boton Login -->
      
        <ion-button>
          INICIAR SESION
        </ion-button>
      
</ion-content>
