#container {
  text-align: center;
  

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
.full-container{
  --background: #f5f5dc;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.list-md{
  background: none;
}

.login-input{
  margin: 25px 60px;
  border: 2px solid #a4a3a3;
  border-radius: 20px;
}
.login-input::placeholder{
  justify-content: center;
}
.login-btn{
  margin: 35px 60px;
  border: 2px solid #a4a3a3;
  border-radius: 20px;
}