<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="full-container">
  <div id="container">
    <ion-img src=""
      alt="The Wisconsin State Capitol building in Madison, WI at night">
    </ion-img>
    <ion-list>
      <ion-list>
        <ion-item class="login-input">
          <ion-input label="" type="email" placeholder="EMAIL"></ion-input>
        </ion-item>
        <ion-item class="login-input">
          <ion-input type="password" label="" value="" placeholder="CLAVE">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item class="login-btn">
          <ion-button>Default</ion-button>
        </ion-item>

      </ion-list>
    </ion-list>
  </div>
</ion-content>
